:root {
  --main-color: white;
  --reverse-color: black;
  --accent-color: #ff6347;
  --second-color: #717171;
  --border-color: #c5b7c0;
  --form-color: #169ee2;
}

.form-title p {
  font-size: 1.5rem;
  margin: 0;
  color: var(--second-color);
}

.title i {
  color: var(--accent-color);
  cursor: pointer;
}

p.agreement {
  color: var(--second-color);
}

p.agreement a {
  color: #169ee2;
}

.logIn-container,
.signUp-container {
  display: flex;
  justify-content: center;
}

.user-form div.sign-up {
  padding: 0;
  border: 1px solid var(--accent-color);
  background-color: var(--accent-color);
}

.user-form div.sign-up:active {
  background-color: var(--main-color);
  border: 1px solid var(--accent-color);
}

.sign-up > input:active {
  color: var(--accent-color);
}

.sign-up > input {
  padding: 0.7rem;
  background-color: rgb(255, 255, 255, 0%);
  color: var(--main-color);
  cursor: pointer;
}

.log-in {
  width: 50vw;
  background-color: var(--main-color);
  padding: 2rem;
  display: block;
}

.sign-up {
  width: 50vw;
  background-color: var(--main-color);
  padding: 2rem;
  display: block;
}

.findPw,
.signUp_btn,
.logIn_btn {
  font-size: 1.2rem;
  color: var(--second-color);
}

.findPw:hover,
.signUp_btn:hover,
.logIn_btn:hover {
  color: var(--accent-color);
}

.findPw:active,
.signUp_btn:active,
.logIn_btn:active {
  color: var(--second-color);
}

.user-form .form-title {
  color: var(--second-color);
  font-weight: 600;
  font-size: 0.8rem;
}

.user-form .border {
  border-top: 1px solid var(--second-color);
}

.user-form .input-container {
  border: 1px solid var(--border-color);
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  margin: 0.8rem 0 0.8rem 0;
  position: relative;
}

.user-form .input-container:active {
  border-color: var(--form-color);
}

.user-form .input-container:hover {
  border-color: var(--form-color);
}

.user-form .input-container input {
  width: 100%;
  outline: none;
  border: 0;
}

.user-form .input-container i {
  color: var(--second-color);
}

@media only screen and (max-width: 768px) {
  form.log-in,
  form.sign-up {
    padding: 1rem;
  }
}
