.myProfile-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 50px;
}

.myProfile-card {
  box-shadow: 10px 10px 10px gray;
  width: 70%;
  border-radius: 15px;
}

.top-container {
  background-color: lightsalmon;
  border-radius: 15px 15px 0 0;
  height: 170px;
  position: relative;
}

.top-section {
  display: flex;
  align-items: center;
  position: absolute;
  margin-top: 60px;
}

.top-section > div {
  margin: 15px;
  font-size: 25px;
  font-weight: 500;
}

.my-profile {
  color: white;
  align-content: center;
}

.profile-image {
  background-color: lightgray;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  box-shadow: 5px 5px 10px grey;
}

.body-section {
  margin-top: 30px;
  padding: 20px;
}

.main-profile-container {
  text-align: end;
}

.name-section {
  display: flex;
  border-bottom: 1px solid lightgrey;
  padding: 15px 5px 15px 5px;
}

.label {
  width: 100px;
  text-align: left;
}

.value {
  padding-left: 50px;
}

.item-image {
  width: 100px;
  height: 100px;
  background-position: center;
  background-size: cover;
}

.post-item-card {
  background-color: bisque;
  border-radius: 15px;
  display: flex;
  padding: 15px;
  text-align: left;
  justify-content: space-between;
}

.btns {
  display: flex;
  align-items: flex-end;
}

.button,
.edit-btn {
  margin-left: 10px;
  cursor: pointer;
}

.button:hover,
.edit-btn:hover {
  opacity: 70%;
}
