header {
  padding: 15px;
}

#logo {
  background-size: cover;
  width: 200px;
}

.navbar-container {
  display: flex;
  justify-content: center;
}

.nav-link p {
  font-size: 20px;
  padding: 0 15px 0 15px;
}

.navbar {
  display: flex;
  justify-content: space-around;
  /* width: 720px; */
}

.navbar-sub {
  display: flex;
  align-items: center;
  color: black;
  /* justify-content: space-between; */
  /* padding-left: 180px; */
}

.navbar-logo {
  width: 100px;
  height: auto;
}

.nav-link,
.nav-link:visited,
.nav-link:active {
  color: black;
  text-decoration: none;
}

.nav-link:hover {
  color: darksalmon;
  border-radius: 25px;
}

.search-form-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .search-form {
  display: flex;
  padding: 15px 40px 15px 40px;
  background-color: tomato;
  border-radius: 50px;
} */

.search-form {
  width: 700px;
  display: flex;
  padding: 15px 0px 15px 0px;
  background-color: tomato;
  border-radius: 50px;
  justify-content: space-around;
}

#searchValue {
  width: 350px;
}

.input-container,
label {
  /* margin: 0 10px 0 10px; */
  align-items: center;
  display: flex;
}

label {
  color: white;
}

.upload-btn {
  border-radius: 0px;
}

input,
select,
.submit-button {
  border-radius: 25px;
  border: none;
  height: 30px;
}

select {
  cursor: pointer;
}

.submit-button {
  background-color: white;
  font-weight: 500;
  color: rgb(0, 0, 0);
}

.submit-button:hover {
  opacity: 50%;
  cursor: pointer;
  color: black;
}

/*                  */
.toggle,
[id^='drop'] {
  display: none;
}

/* Giving a background-color to the nav container. */
nav {
  margin: 0;
  padding: 0;
}

#logo {
  display: block;
  padding: 0 30px;
  float: left;
  font-size: 20px;
  line-height: 60px;
}

/* Since we'll have the "ul li" "float:left"
 * we need to add a clear after the container. */

nav:after {
  content: '';
  display: table;
  clear: both;
}

/* Removing padding, margin and "list-style" from the "ul",
 * and adding "position:reltive" */
nav ul {
  float: right;
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
}

/* Positioning the navigation items inline */
nav ul li {
  margin: 0px;
  display: inline-block;
  float: left;
}

/* Styling the links */
nav a {
  display: block;
  padding: 14px 20px;
  /* color:#FFF; */
  font-size: 17px;
  text-decoration: none;
}

nav ul li ul li:hover {
  /* background: #000000; */
  border-radius: 25px;
}

/* Background color change on Hover  IMPORTANT*/
nav a:hover {
  background-color: rgb(241, 208, 197);
  border-radius: 25px;
}

/* Hide Dropdowns by Default
 * and giving it a position of absolute */
nav ul ul {
  display: none;
  position: absolute;
  /* has to be the same number as the "line-height" of "nav a" */
  top: 60px;
}

/* Display Dropdowns on Hover */
nav ul li:hover > ul {
  display: inherit;
  top: 50px;
  background-color: rgb(255, 255, 255);
}

/* Fisrt Tier Dropdown */
nav ul ul {
  border-radius: 25px;
}
nav ul ul li {
  width: 170px;
  float: none;
  display: block;
  position: relative;
}

/* Second, Third and more Tiers	
 * We move the 2nd and 3rd etc tier dropdowns to the left
 * by the amount of the width of the first tier.
*/
nav ul ul ul li {
  position: relative;
  top: -60px;
  /* has to be the same number as the "width" of "nav ul ul li" */
  left: 170px;
}

/* Change ' +' in order to change the Dropdown symbol */
li > a:after {
  content: ' +';
}
li > a:only-child:after {
  content: '';
}

/* Media Queries
--------------------------------------------- */

@media all and (max-width: 330px) {
  nav ul li {
    display: block;
    width: 94%;
  }
}

/* ----------------- */
/* NEW SEArCH TESt */

/* ------------------ */
@media only screen and (max-width: 606px) {
  .navbar-container {
    /* width: 80%; */
    padding-left: 50px;
  }
}
@media only screen and (max-width: 768px) {
  .search-form {
    display: block;
    padding: 25px;
    width: 80%;
  }
  #searchValue {
    width: 95%;
  }
  input,
  select,
  .submit-button {
    /* margin: 5px 0 5px 0; */
    margin: 5px;
    border-radius: 10px;
    width: 95%;
  }

  .search-form > .input-search,
  .search-form > .input-container,
  .search-form > .submit-button {
    display: block;
    margin: 5px;
  }

  label {
    margin-left: 5px;
  }
  .toggle {
    margin-left: 0;
    /* margin-bottom: 20px; */
  }
  .navbar,
  .navbar-sub,
  a {
    /* display: block; */
  }
  .navbar-sub {
    padding-left: 0;
  }
}
