:root {
  --main-color: white;
  --reverse-color: black;
  --accent-color: #ff6347;
  --second-color: #717171;
  --border-color: #c5b7c0;
  --form-color: #169ee2;
}

.form-title p {
  font-size: 1.5rem;
  margin: 0;
  color: var(--second-color);
}

.title i {
  color: var(--accent-color);
  cursor: pointer;
}

p.agreement {
  color: var(--second-color);
}

p.agreement a {
  color: #169ee2;
}

.logIn-container,
.signUp-container {
  display: flex;
  justify-content: center;
  min-height: calc(100vh - 450px);
}

.user-form div.sign-up {
  padding: 0;
  border: 1px solid var(--accent-color);
  background-color: var(--accent-color);
}

.user-form div.sign-up:active {
  background-color: var(--main-color);
  border: 1px solid var(--accent-color);
}

.sign-up > input:active {
  color: var(--accent-color);
}

.sign-up > input {
  background-color: rgb(255, 255, 255, 0%);
  color: var(--main-color);
  cursor: pointer;
}

.log-in {
  background-color: var(--main-color);
  padding: 2rem;
  display: block;
}

.sign-up {
  width: 700px;
  background-color: var(--main-color);
  display: block;
}

.findPw {
  display: block;
  color: gray;
}

.findPw:visited {
  color: gray;
}

/* .log-in-button {
  width: 1000px;
} */

.findPw,
.signUp_btn,
.logIn_btn {
  font-size: 1.2rem;
  color: var(--second-color);
}

.findPw:hover,
.signUp_btn:hover,
.logIn_btn:hover {
  color: var(--accent-color);
}

.findPw:active,
.signUp_btn:active,
.logIn_btn:active {
  color: var(--second-color);
}

.user-form .form-title {
  color: var(--second-color);
  font-weight: 600;
  font-size: 0.8rem;
}

.user-form .border {
  border-top: 1px solid var(--second-color);
}

.user-form .input-container {
  border: 1px solid var(--border-color);
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  margin: 0.8rem 0 0.8rem 0;
  position: relative;
}

.user-form .input-container:active {
  border-color: var(--form-color);
}

.user-form .input-container:hover {
  border-color: var(--form-color);
}

.user-form .input-container input {
  width: 100%;
  outline: none;
  border: 0;
}

.user-form .input-container i {
  color: var(--second-color);
}

.report-text-area {
  /* max-width: 670px; */
  padding: 15px;
  margin-top: 5px;
}

#location,
#item_price {
  width: 15%;
}

.file-container {
  height: 60px;
  background: var(--b-bg-2);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.file-container:hover {
  filter: brightness(0.9);
}

#fragment-file {
  width: 100%;
  height: 100%;
  opacity: 0;
  position: absolute;
}

.post-options > div {
  border: 1px solid black;
  border-radius: 25px;
}

.post-options > input {
  background-color: beige;
}

@media only screen and (max-width: 768px) {
  form.log-in,
  form.sign-up {
    padding: 1rem;
    width: 70%;
  }
  .report-text-area {
    width: 100%;
  }
  .log-in,
  .sign-up {
    width: 100%;
  }
}
